img{
    border: 2px solid black;
    border-radius: 3px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
  }

  body {
    background-color: rgb(72, 145, 194);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  #home {
    float: left;
  }

  li a {
      float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }